<div class="container">
  <div class="content">
    <div class="input-row">
      <label class="delete-color">***This workflow will be delete forever!!!</label>
    </div>

    <div class="input-row">
      <label>Type "CONFIRM DELETE" to delete: </label>
      <input id="name" type="text" name="name" placeholder="CONFIRM DELETE"/>
      <span class="validation-error"> </span>
    </div>
  </div>

  <div class="btn-group">
    <button (click)="cancel()">Cancel</button>
    <button>Delete</button>
  </div>
</div>
