.container {
  padding: 40px 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 300px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #19003f;
  }
}

#name {
  color: #19003f;
}

#add {
  padding: 10px 10px;
  width: 200px;
  font-size: 0.75rem;
  border-radius: 10px;
  background-color: gray;
  border: none;
  color: #f6f1f1;

  transition: all 0.2s ease-in-out;
}

#add:hover {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 13vw;
  margin-top: 20px;
  margin-bottom: 15px;
}

#left_up {
  display: flex;
  border: #19003f solid 1px;
  border-radius: 5px;
  background-color: white;
}

#icon_find {
  display: flex;
  align-items: center;
  padding: 3px;
}

#input {
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #19003f;
  background-color: #ffffff;
}

#sort {
  margin-right: 5px;
}

.icon_filter {
  display: flex;
  align-items: center;
  padding: 3px;
}

#right_up {
  display: flex;
  align-items: center;
}
