.body {
  background-color: #f6f1f1;
  display: grid;
  grid-template-columns: 0.5fr 0.3fr;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.logo_welcome {
  color: #19003f;
  display: grid;
  justify-items: center;

  & > svg {
    height: 200px;
    width: 200px;
    position: relative;
    top: 187px;
  }

  & > h1 {
    margin: 0;
    height: 30px;
    text-align: center;
    position: relative;
    top: 75px;
  }

  & > p {
    margin: 0;
    position: relative;
    bottom: 35px;
    text-align: center;
    font-weight: 400;
  }
}

.registerBox {
  display: grid;
  align-items: center;
  padding: 60px 10px;
}
