$transition-time: 0.2s;
$color-primary: #19003f;
$color-ocapacity: 0.25;
$color-ocapacity-hover: 1;

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navigation {
    display: flex;
    flex-direction: row;

    background-color: var(--primary-color);
    height: 100%;

    $button-nav-size: 5px;

    & > div {
      display: flex;
      align-items: center;

      width: 0;

      .btn-nav {
        padding: $button-nav-size;

        background-color: var(--secondary-color);

        border-radius: 50%;
        border: 1px rgba($color: $color-primary, $alpha: $color-ocapacity) solid;

        transform: translateX(-50%);

        cursor: pointer;

        transition: all $transition-time ease-in-out;

        .button-icon {
          display: flex;
          align-items: center;
        }

        #expand-button-svg {
          fill: var(--primary-color);
          fill-opacity: $color-ocapacity;
          transition: all $transition-time ease-in-out;
        }
      }

      .btn-nav:hover {
        border: 1px rgba($color: $color-primary, $alpha: $color-ocapacity-hover)
          solid;

        #expand-button-svg {
          fill: var(--primary-color);
          fill-opacity: $color-ocapacity-hover;
        }
      }

      .hide-button {
        display: none;
      }
    }
  }

  .content {
    height: 100%;
    width: 100%;

    background-color: var(--secondary-color);
  }
}

.settings-off{
  display: none;
}

.settings-on{
  display: block;
}
