<div class="body">
    <span id="workFlowName">
        <input type="checkbox">
        <label>Name</label>
    </span>

    <span id="workFlowInfo">
        <span id="project">
            <label>Project</label>
        </span>

        <span id="startedAt">
            <label>Started At</label>
        </span>

        <span id="status">
            <label>Status</label>
        </span>

        <span id="Execution ID">
            <label>Execution ID</label>
        </span>
    </span>
</div>
