$transition-time: 0.2s;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  width: auto;
  height: 80px;
  border-radius: 5px;
  border: #19003f solid 1.5px;
}

.container:hover {
  cursor: pointer;
}

.left {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  #name {
    color: #19003f;
    margin: 0;
  }

  #down {
    display: flex;

    #d1,
    #d2 {
      border-right: #19003f solid 1.5px;
      margin-right: 10px;
      padding-right: 10px;
      height: 22px;
    }

    #d1,
    #d2,
    #d3 {
      font-size: medium;
    }
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  padding: 10px;

  #setting-icon {
    fill: gray;
    transition: all 0.2s ease-in-out;
  }

  .setting {
    width: 20px;
    height: 100%;
  }

  .setting:hover {
    cursor: pointer;

    #setting-icon {
      fill: #19003f;
    }
  }
}

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.15rem;

  & > span {
    color: #19003f4c;
    font-size: small;
    font-weight: bold;
  }

  & > button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;

    transition: all $transition-time ease-in-out;
  }
}

.off {
  transition: all $transition-time ease-in-out;

  svg {
    width: 46px;
    height: 18px;
    fill: none;

    rect {
      transition: all $transition-time ease-in-out;

      fill: rgb(188, 188, 188);
    }

    circle {
      transition: all $transition-time ease-in-out;

      cx: 11px;
    }
  }
}

.off:hover {
  cursor: pointer;
  svg {
    rect {
      fill: gray;
    }
  }
}

.off.on {
  transition: all $transition-time ease-in-out;

  svg {
    rect {
      fill: rgb(1, 165, 1);
    }

    circle {
      cx: 35px;
    }
  }
}

.off.on:hover {
  svg {
    rect {
      fill: rgb(1, 130, 1);
    }
  }
}

.setting-box {
  width: 0px;
  height: 0px;
  position: absolute;
  background-color: #f6f1f1;
  border: none;
  border-radius: 5px;
  margin: 8px 0;

  visibility: hidden;

  transition: all $transition-time ease-in-out;
}

.setting-box.open-setting-box {
  width: 100px;
  height: 135px;
  position: absolute;
  background-color: rgb(245, 242, 242);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  margin: 8px 0;

  visibility: visible;

  transition: all $transition-time ease-in-out;
}

.content-setting {
  visibility: visible;
  padding: 10px 10px;

  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  transition: all calc($transition-time * 2) ease-in-out;
  opacity: 1;

  & > span {
    color: rgb(134, 134, 134);
    font-size: medium;
    font-weight: 400;
  }

  & > span:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
}

.content-setting.hidden {
  visibility: hidden;
  transition: all calc($transition-time / 2) ease-in-out;
  opacity: 0;
}

.function-btn {
  background-color: #19003f;
  border: none;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  color: #f6f1f1;

  margin: 0;

  font-size: medium;
  transition: all 0.2s;
}

.function-btn:hover {
  cursor: pointer;
  border: none;
  background-color: #6e1f84;
  color: #f6f1f1;
  transition: all 0.2s;
}

.content-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}
