.body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #19003f;
  margin: 0;
  padding: 0;
}

.bigbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f6f1f1;
}

.welcomeBack {
  text-align: center;
  color: #f6f1f1;
  margin-top: 150px;

  & > h2 {
    font-size: 2rem;
  }
}

#signin {
  & > h3 {
    color: #19003f;
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
  }
}

#input {
  padding: 0 30px;
}

#input > input {
  width: 100%;
  color: #19003f;
  background-color: #dddddd;

  height: 35px;
  border-radius: 35px;
  border: none;

  font-size: 0.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  padding: 0 20px;
}

#input > button {
  $button-height: 40px;

  width: 100%;
  height: $button-height;

  color: #f6f1f1;
  background-color: #19003f;
  border-radius: $button-height;
  border: none;

  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 25px;
}

hr {
  width: 9rem;
}

.box {
  border: 2px solid #f6f1f1;
  border-radius: 23px;
  width: 350px;
  height: 500px;
}
