<div class="body">
  <div class="container">
    <div class="welcomeBack">
      <h2>Welcome Back</h2>
    </div>
    <div class="bigbox">
      <div class="box">
        <div id="signin">
          <h3>Sign In</h3>
        </div>
        <div id="input">
          <input id="text" type="text" placeholder="Email or User Name">
          <input id="pass" type="password" placeholder="Password">
          <button id="button_login"> Log In </button>
        </div>
        <hr>
        <div class="bottom">
          <div id="icon_signin">
            <button>Google</button>
            <button>Facebook</button>
            <button>Github</button>
          </div>
          <div id="no_account">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
