<!-- <form [formGroup]="projectFormGroups" class="form-container"> -->
    <div class="input-row">
        <label >New password: </label>
        <input id="name" type="text" name="name"  placeholder="need to be at least 6 character">
        <span class="validation-error">
        </span>
    </div>

    <div class="input-row">
        <label >Confirm new password: </label>
        <input id="name" type="text" name="name">
        <span class="validation-error"></span>
    </div>

    <div class="input-row">
        <label >Current password: </label>
        <input id="description" type="text" name="description">
        <span class="validation-error"></span>
    </div>

    <div class="btn-group">
        <button (click)="cancel()">Cancel</button>
        <button >Save</button>
    </div>
<!-- </form> -->