$button-height: 2rem;
$button-radius: 5px;

$transition: all 0.2s ease-in-out;

.form-container {
    padding: 1rem;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    label {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    input {
        font-size: 0.75rem;
        font-weight: 400;

        height: $button-height;
        padding: 0 1rem;
        border-radius: $button-radius;
        border: 1px solid var(--primary-color);
        outline: none;
        transition: $transition;

        &:focus {
            border: 2px solid var(--primary-color);
            transition: $transition;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
        height: $button-height;
        padding: 0 1rem;
        margin: 0 0.5rem;

        border-radius: $button-radius;
        cursor: pointer;

        transition: $transition;

        &:first-child {
            color: var(--primary-color);
            background-color: white;
            border: var(--primary-color) 1px solid;
            margin-left: 0;

            &:hover {
                color: white;
                background-color: var(--primary-color);
                border: transparent 1px solid;
                transition: $transition;
            }

        }

        &:last-child {
            color: white;
            background-color: var(--primary-color);
            border: transparent 1px solid;
            margin-right: 0;

            &:hover {
                color: var(--primary-color);
                background-color: white;
                border: var(--primary-color) 1px solid;
                transition: $transition;
            }
        }
    }
}

.validation-error {
    color: red;
    font-size: 0.75rem;
    font-weight: 400;
    margin-top: 0.25rem;
}