.container{
  padding: 40px 90px;
  display: flex;
  flex-direction: row;
}

.midterm{
  margin-left: 38px;
  margin-right: 38px;
}

#name{
  color: #19003F;
}

#add{
  padding: 10px 20px;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: #19003F;
  color: #F6F1F1;
}

#add:hover{
  background-color: #E1D7FF;
  border: 1px solid #e0e0e0;
  color: #19003F;
}

.right{
  width: 100%;
  margin-top: 15px;
}

.up{
  display: flex;
  justify-content: space-between ;
  width: 100%;
  align-items: center;
}

#left_up{
  display: flex;
  border: #19003F solid 1px;
  border-radius: 5px;
}

#icon_find{
  display: flex;
  align-items: center;
  padding: 3px;
}

#input{
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #19003F;
  background-color: #F6F1F1;
}

#right_up{
  display: grid;
  grid-template-columns: 1fr 0fr;
}

#sort{
  margin-right: 5px;
}

#select{
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
  color: #19003F;
  background-color: #F6F1F1;
  padding: 5px;
}

.icon_filter{
  display: flex;
  align-items: center;
  padding: 3px;
}





