.container {
  padding: 40px 90px;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #19003f;
  }
}

#name {
  color: #19003f;
}

#add {
  padding: 10px 10px;
  width: 200px;
  font-size: 0.75rem;
  border-radius: 10px;
  background-color: #19003f;
  border: none;
  color: #f6f1f1;

  transition: all 0.3s ease-in-out;
}

#add:hover {
  background-color: #e1d7ff;
  border: none;
  color: #19003f;
  cursor: pointer;
}

.up {
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 10fr 2fr 0.2fr;
  margin-bottom: 15px;
}

#left_up {
  display: flex;
  border: #19003f solid 1px;
  border-radius: 5px;
}

#icon_find {
  display: flex;
  align-items: center;
  padding: 3px;
}

#input {
  border: none;
  outline: none;
  font-size: 0.8rem;
  color: #19003f;
  background-color: #f6f1f1;
}

#sort {
  margin-right: 5px;
}

.icon_filter {
  display: flex;
  align-items: center;
  padding: 3px;
}

#right_up {
  display: flex;
  align-items: center;
}
