.container{
  padding: 40px 90px;
  display: flex;
  flex-direction: row;
}

#name{
  color: #19003F;
}

#add{
  padding: 10px 20px;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: #19003F;
  color: #F6F1F1;
}

#add:hover{
  background-color: #E1D7FF;
  border: 1px solid #e0e0e0;
  color: #19003F;
}




