$transition-time: 0.2s;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  width: auto;
  height: 80px;
  border-radius: 5px;
  border: #19003f solid 1.5px;
}

.container:hover {
  cursor: pointer;
}

.left {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  #name {
    color: #19003f;
    margin: 0;
  }

  #down {
    display: flex;

    #d1,
    #d2 {
      border-right: #19003f solid 1.5px;
      margin-right: 10px;
      padding-right: 10px;
      height: 22px;
    }

    #d1,
    #d2,
    #d3 {
      font-size: medium;
    }
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  padding: 10px;

  #setting-icon {
    fill: gray;
    transition: all 0.2s ease-in-out;
  }

  .setting {
    width: 20px;
    height: 100%;
  }

  .setting:hover {
    cursor: pointer;

    #setting-icon {
      fill: #19003f;
    }
  }
}

.switch {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.15rem;

  & > span {
    color: var(--primary-color);
    font-size: small;
  }

  & > button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;

    transition: all $transition-time ease-in-out;
  }
}

.off {
  transition: all $transition-time ease-in-out;

  svg {
    width: 46px;
    height: 18px;
    fill: none;

    rect {
      transition: all $transition-time ease-in-out;

      fill: rgb(188, 188, 188);
    }

    circle {
      transition: all $transition-time ease-in-out;

      cx: 11px;
    }
  }
}

.off:hover {
  cursor: pointer;
  svg {
    rect {
      fill: gray;
    }
  }
}

.off.on {
  transition: all $transition-time ease-in-out;

  svg {
    rect {
      fill: rgb(1, 165, 1);
    }

    circle {
      cx: 35px;
    }
  }
}

.off.on:hover {
  svg {
    rect {
      fill: rgb(1, 130, 1);
    }
  }
}
