@use "sass:math";
@import "../../vars";

svg {
  z-index: -3;
  overflow: visible;
  position: absolute;
  pointer-events: none;

  path {
    fill: none;
    stroke-width: $connection-width;
    stroke: $connection-color;
    pointer-events: auto;
  }
}
