$transition-time: 0.2s;

$about-text-size: 50px;
$about-text-weight: 800;

$about-text-size-information: 15px;
$about-text-weight-information: 500;

.container {
  padding: 40px 90px;
  width: 100%;
  height: 100%;
}

.about-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #logo-text {
      font-size: $about-text-size;
      font-weight: $about-text-weight;
      color: var(--priamry-color);
    }
  }

  .information-box {
    padding: 20px;

    width: 600px;
    max-width: 600px;
    height: 200px;
    max-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & > span > p {
      margin: 0;
      margin-bottom: 0.5rem;

      font-size: $about-text-size-information;
      font-weight: $about-text-weight-information;
      color: var(--priamry-color);
    }
  }
}

.send-link-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
