<div class="custom-dropdown" clickOutside (clickOutside)="this.clickOutside()">
  <button class="dropdown-toggle" (click)="toggleDropdown()">
    <input id="select" name="ice-cream-choice" [value]="selectedOption" />
  </button>
  <ul class="dropdown-options" [hidden]="!isDropdownOpen">
    <li *ngFor="let option of options" (click)="selectOption(option)">
      {{ option }}
    </li>
  </ul>
</div>
<datalist id="sortby">
  <option value="Sort by last updated"></option>
  <option value="Sort by last created"></option>
  <option value="Sort by name (A-Z)"></option>
  <option value="Sort by name (Z-A)"></option>
</datalist>
