.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  border: none;
  background-color: white;
  border: 1.5px solid #19003f;
  border-radius: 5px;

  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;

  & > input {
    border: none;

    color: #19003f;
    font-size: 20px;
    background-color: transparent;
  }
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 10pt;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
}

#select{
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 13pt;
  padding-left: 5px;
  outline: none;
}

/* Ẩn danh sách khi không được mở */
[hidden] {
  display: none !important;
}
