#ice-cream-choice {
  border-radius: 5px;
  border: 1.5px solid #19003f;
  outline: none;
  font-size: 0.8rem;
  color: #19003f;
  background-color: #ffffff;
  padding: 5px;

  width: 200px;
  height: 40px;
}
