<div class="container">
  <create-new-project (createProject)="dialog.openDialog()"></create-new-project>
  <app-created-project *ngFor="let project of (projectState$ | async)?.projects"
    [project]="project"></app-created-project>
</div>

<app-dialog #dialog [data]="{title: 'Create Project'}">
  <app-project-form (cancelForm)="dialog.closeDialog()" (submitForm)="createProject($event)"></app-project-form>
</app-dialog>

<app-dialog #notificationDialog>
  {{ notificationMessage }}
</app-dialog>