<div class="container">
  <div class="content">
    <div class="input-row">
      <label>Name: </label>
      <input id="name" type="text" name="name" placeholder="Untitled Workflow" />
      <span class="validation-error"> </span>
    </div>

    <div class="input-row">
      <label>Description: </label>
      <input id="name" type="text" name="name" />
      <span class="validation-error"> </span>
    </div>
  </div>

  <div class="btn-group">
    <button (click)="cancel()">Cancel</button>
    <button>Create</button>
  </div>
</div>
