.body {
  padding: 40px 90px;
  font-weight: bold;
}

#div1 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: space-evenly;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #19003f;
  }

  & > #leftSpan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

    label,
    p {
      color: #19003f;
      font-size: 15px;
    }
  }
}

#autoRefresh{
  display: flex;
  align-items: center;
}

