.body {
  padding: 40px 90px;
  font-weight: bold;
}

#div1 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: space-evenly;

  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #19003f;
  }

  & > #leftSpan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

    label,
    p {
      color: #19003f;
      font-size: 15px;
    }
  }
}

#autoRefresh{
  display: flex;
  align-items: center;
}


#filterBox {
  height: 30px;
  width: 100px;
  background-color: #ffff;
  border: 1.5px solid #19003f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19003f;
  font-size: 13px;
  font-weight: bold;
}

#filterBox:hover {
  background-color: #19003f;
  color: #f6f1f1;

  #filterIcon {
    fill: #f6f1f1;
  }
}

