<div class="body">
  <div id="div1">
    <span>
      <h1>Executions</h1>
    </span>

    <span id="leftSpan">
      <span id="autoRefresh">
        <input type="checkbox" />
        <label>Auto Refresh</label>
      </span>

      <filter-execution></filter-execution>
    </span>
  </div>

  <div id="div2">
    <div id="workFlowName">
      <input type="checkbox">
      <label>Name</label>
    </div>

    <div id="workFlowInfo">
      <label>Project</label>

      <label>Started At</label>

      <label>Status</label>

      <label>Execution ID</label>
    </div>
  </div>
</div>
