
.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.3fr;
  align-items: center;
  // justify-content: space-between;

  background-color: white;

  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: #19003f solid 1.5px;
}

.left {
  height: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  #icon {
    background-color: white;
    color: #19003f;

  }
}

.mid {
  height: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  #up{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #name {
    color: #19003f;
    margin: 0;
    font-size: 13pt;
  }

  #me{
    color: #19003f;
    margin: 0;
    font-size: 13pt;
  }

  #down {
    display: flex;

    #email {
      color: #19003f;
      margin: 0;
      font-size: 13pt;
    }
  }
}

#owner{
  display: flex;
  align-items: center;
  margin-right: 20px;
  border: #19003f solid 1px;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;

  float: right;
}

#icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
