<div class="container">
  <div class="content">
    <div class="input-row">
      <label>Name Duplicate: </label>
      <input id="name" type="text" name="name" placeholder="Workflow copy" />
      <span class="validation-error"> </span>
    </div>

    <div class="input-row">
      <label>Choose or create a tag: </label>
      <input id="name" type="text" name="name" />
      <span class="validation-error"> </span>
    </div>
  </div>

  <div class="btn-group">
    <button (click)="cancel()">Cancel</button>
    <button>Duplicate</button>
  </div>
</div>
