#addNodeButtn{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    

    & > span{
        display: grid;
        gap: 8px;
        place-items: center;
    
        & > button{
            background-color: transparent;
            border: 2.2px solid #19003f;
            border-radius: 8px;
            padding: 5px;
            display: grid;
            align-items: center;
            justify-items: center;
            cursor: pointer;
            transition: all 0.25s ease-in-out;

            & > svg{
                transition: all 0.25s ease-in-out;
        
            }

            & > img{
                width: 20px;
                height: 20px;
                transition: all 0.25s ease-in-out;
            }
        }
    }
}

#addButtn{
    width: 60px;
    height: 60px;
}

#addButtn:hover{
    width: 65px;
    height: 65px;

    & > svg{
        width: 30px;
        height: 30px;
        transition: all 0.25s ease-in-out;

    }
}

#fileButtn{
    width: 40px;
    height: 40px;
}

#fileButtn:hover{
    width: 45px;
    height: 45px;

    & > img{
        width: 25px;
        height: 25px;
        transition: all 0.25s ease-in-out;
    }
}