<div class="container">
    <span>
        Workflows
    </span>

    

    <input list="workflows" type="text" placeholder="All Workflows">
    <datalist id="workflows">
        <option value="edge"></option>
    </datalist>

    <span>
        Status
    </span>

    <input type="text" placeholder="Any status">
        

    <span>
        Execution start
    </span>

    <input type="date" placeholder="Earliest">

    

    <span>Custom data (saved in exxecution)</span>

    <div id="customData">
        <span>Key</span>
        <input type="text" placeholder="ID">
        <span>Value (exact match)</span>
        <input type="number" placeholder="123">
    </div>
</div>
