.container {
  width: 400px;
  height: 685px;
  max-height: 685px;
  border: 1px solid var(--primary-color);
  border-top: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  overflow: auto;
  z-index: 0;

  & > div {
    width: 100%;
    padding: 18px;
    display: grid;

    & > span {
      display: flex;
    }
  }
}

#header {
  height: auto;
  background-color: rgb(221, 221, 221);
  border-bottom: 1px solid var(--primary-color);

  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px;

  & > #title {
    display: flex;
    flex-direction: column;

    & > h3 {
      width: 150px;
      border-bottom: 3px solid rgb(221, 221, 221);
      transition: all 0.2s ease-in-out;
    }
  }
}

#header:hover {
  cursor: pointer;

  & > #title > h3 {
    border-bottom: 3px solid var(--primary-color);
  }
}

#searchDiv {
  width: 100%;
  height: 70px;
}

#searchBox {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  outline: none;
}

#options {
  padding: 0;

  & > div {
    width: 100%;
    height: auto;
    display: flex;
    padding: 13px 20px;

    & > span {
      height: auto;
      display: grid;
      gap: 5px;
    }
  }
  & > div:hover {
    cursor: pointer;
    border-left: 3px solid var(--primary-color);
  }
}

#breakLine {
  width: 100%;
  height: auto !important;
  display: flex;
  padding: 0 !important;

  & > hr {
    color: grey;
    margin: 8px 40px;
    width: 100%;
  }
}

#breakLine:hover {
  border: none !important;
}

input {
  font-size: medium;
  border: none;
  outline: none;
  background-color: transparent;
}

h3 {
  color: var(--primary-color);
  font-size: large;
  margin: 0;
}

h4 {
  color: var(--primary-color);
  font-size: medium;
  margin: 0;
}

p {
  color: grey;
  font-size: small;
  word-wrap: break-word;
  margin: 0;
}
