<div clickOutside (clickOutside)="this.clickOutside()">
  <button id="filterBox" (click)="this.openFilter()">
    <svg
      width="18"
      height="22"
      viewBox="0 0 27 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="filterIcon"
        d="M6.10352e-05 0L10.9688 11.2374V17.056L16.0313 21.4566V11.2374L27.0001 0H6.10352e-05Z"
        fill="#19003F"
      />
    </svg>
    Filters
  </button>

  <div
    class="credential"
    [ngClass]="{ 'open-credential': _isOpen !== false }"
  >
    <div class="container" [ngClass]="{ hidden: _isOpen === false }">
      <span> Type </span>

      <input list="credentials" type="text" placeholder="Select" />
      <datalist id="credentials">
        <option value="Sort by last updated"></option>
        <option value="Sort by last created"></option>
        <option value="Sort by name (A-Z)"></option>
        <option value="Sort by name (Z-A)"></option>
        <option value=""></option>
        <option value="Sort by last updated"></option>
        <option value="Sort by last created"></option>
        <option value="Sort by name (A-Z)"></option>
        <option value="Sort by name (Z-A)"></option>
        <option value=""></option>
        <option value="Sort by last updated"></option>
        <option value="Sort by last created"></option>
        <option value="Sort by name (A-Z)"></option>
        <option value="Sort by name (Z-A)"></option>
        <option value=""></option>
      </datalist>
    </div>
  </div>
</div>
