$transition-time: 0.3s;

#filterBox {
  height: 40px;
  width: 100px;
  padding: 5px 5px;
  background-color: #ffffff;
  border: 1.5px solid #19003f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19003f;
  font-size: 15px;
}

#filterBox:hover {
  background-color: #19003f;
  color: #f6f1f1;
  cursor: pointer;

  #filterIcon {
    fill: #f6f1f1;
  }
}

.credentials {
  width: 400px;
  height: 0px;
  position: absolute;
  background-color: #f6f1f1;
  border: none;
  border-radius: 5px;
  margin: 8px 0;

  transform: translateX(-60%);

  visibility: hidden;

  transition: all $transition-time ease-in-out;
}

.credentials.open-credentials {
  width: 400px;
  height: 500px;
  position: absolute;
  background-color: rgb(245, 242, 242);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;

  transform: translateX(-60%);

  visibility: visible;

  transition: all $transition-time ease-in-out;
}

.container {
  visibility: visible;
  padding: 20px 30px;
  width: 100%;
  height: auto;
  display: grid;
  gap: 10px;
  transition: all $transition-time ease-in-out;
  opacity: 1;

  & > span {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: medium;
    font-weight: 400;
  }

  & > input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: small;
  }
}

.container.hidden {
  visibility: hidden;
  transition: all 0.05s ease-in-out;
  opacity:0;
}

#customData {
  padding-left: 15px;
  display: grid;
  gap: 5px;

  & > span {
    color: var(--primary-color);
    font-size: small;
    font-weight: 400;
  }

  & > input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: rgb(222, 215, 215);
  }
}
