<div class="container">
  <div class="button-back">
    <button (click)="changeNavigation('projects')">
        <span class="button-icon">
            <svg width="35" height="33" viewBox="0 0 78 63" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path id="back-svg" 
                    d="M74.0713 31.673H4.69513M4.69513 31.673L27.8205 4.69336M4.69513 31.673L27.8205 58.6526" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        <span class="return-text">Settings</span>
    </button>
  </div>
  <div class="main">
    <main-settings [currentTab]="_currentTab"></main-settings>
  </div>
</div>
