<form [formGroup]="projectFormGroups" class="form-container">
    <div class="input-row">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" formControlName="name" placeholder="Your first project">
        <span class="validation-error"
            *ngIf="(_isSubmitted || projectFormGroups.controls.name.touched) && !projectFormGroups.controls.name.valid">Name
            need to be
            at least 6
            character</span>
    </div>

    <div class="input-row">
        <label for="description">Description: </label>
        <input id="description" type="text" name="description" formControlName="description"
            placeholder="My project is so awesome">
        <span class="validation-error"
            *ngIf="(_isSubmitted || projectFormGroups.controls.description.touched) && !projectFormGroups.controls.description.valid">Description
            is required</span>
    </div>

    <div class="btn-group">
        <button (click)="onCancel()">Cancel</button>
        <button (click)="onSubmit()">Submit</button>
    </div>
</form>

<app-dialog #notificationDialog [data]="{titleq: notificationMessage}">
    <div id="check-icon-position">   
        <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.348 96.1448C74.8242 96.1448 96.2873 74.6816 96.2873 48.2054C96.2873 21.7293 74.8242 0.266113 48.348 0.266113C21.8719 0.266113 0.408691 21.7293 0.408691 48.2054C0.408691 74.6816 21.8719 96.1448 48.348 96.1448Z" fill="#4BD37B"/>
            <path d="M70.7197 19.4419L37.1622 53.9582L25.9764 42.4528L14.7905 53.9582L37.1622 76.9691L81.9056 30.9473L70.7197 19.4419Z" fill="white"/>
        </svg>
    </div>                   
</app-dialog>
