<ng-container>
    <div class="node">
        <div class="body-wrapper">
            <ng-container [ngTemplateOutlet]="body"></ng-container>
        </div>
    </div>
</ng-container>

<!-- 
<ng-container #title>
    <div class="title" data-testid="title">{{data.label}}</div>
</ng-container> -->

<ng-template #body>
    <div class="body">
        <div class="input-sockets-container">
            <ng-container [ngTemplateOutlet]="inputs"></ng-container>
        </div>

        <div>
            <ng-container [ngTemplateOutlet]="logo"></ng-container>
        </div>

        <div class="output-sockets-container">
            <ng-container [ngTemplateOutlet]="outputs"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #inputs>
    <div class="input" *ngFor="let input of data.inputs | keyvalue: sortByIndex"
        [attr.data-testid]="'input-'+input.key">
        <div class="input-socket" refComponent
            [data]="{type: 'socket', side: 'input', key: input.key, nodeId: data.id, payload: input.value?.socket, seed: seed }"
            [emit]="emit" data-testid="input-socket"></div>

        <div class="input-title" data-testid="input-title" *ngIf="!input.value?.control || !input.value?.showControl">
            {{input.value?.label}}
        </div>
        <div class="input-control" [style.display]="input.value?.control && input.value?.showControl ? '' : 'none'"
            refComponent [data]="{type: 'control', payload: input.value?.control }" [emit]="emit"
            data-testid="input-control"></div>
    </div>
</ng-template>

<ng-template #logo>
    <div class="icon-wrapper">
        <img [src]="serverAPI + nodeInformation?.iconUrl" [alt]="">
    </div>
</ng-template>

<ng-template #outputs>
    <div class="output" *ngFor="let output of data.outputs | keyvalue: sortByIndex"
        [attr.data-testid]="'output-'+output.key">
        <div class="output-title" data-testid="output-title">
            {{output.value?.label}}
        </div>
        <div class="output-socket" refComponent
            [data]="{type: 'socket', side: 'output', key: output.key, nodeId: data.id, payload: output.value?.socket, seed: seed }"
            [emit]="emit" data-testid="output-socket"></div>
    </div>
</ng-template>


<div class="control" *ngFor="let control of data.controls | keyvalue: sortByIndex" refComponent
    [data]="{type: 'control', payload: control.value }" [emit]="emit" [attr.data-testid]="'control-'+control.key">
</div>