$button-icon: 28;
$button-icon-px: 28px;

$button-padding: 0.5rem;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 20vh;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #waving-hand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

.create-project{
  padding: 20px;
  overflow: auto;
}
