.container{
  display: flex;
  width: auto;
  height: 100px;
  border-radius: 5px;
  border: #19003F solid 1.5px;
}

.left{
  width: 15%;
}

#icon{
  margin-top: 30px;
  margin-left: 35px;
  background-color: #F6F1F1;
  color: #19003F;
}

.right{
  width: 85%;
}

#h6{
  margin-top: 15px;
  margin-bottom: 5px;
}

#down{
  display: flex;
}

#d1,#d2{
  border-right: #19003F solid 1.5px;
  margin-right: 10px;
  padding-right: 10px;
  height: 22px;
}

#d1,#d2,#d3{
  font-size: medium;
}

